.modal-body {
	background-color: rgb(255, 255, 255);
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.content {
	padding-left: 50px;
	padding-right: 50px;
}

.modal-content {
	overflow-y: auto;
	height: 94vh;
}