
/*
################################################################################
## some helper css code for toxSummary shiny app       
## 
## History:
## -----------------------------------------------------------------------------
## Date         Programmer            Note
## ----------   --------------------  ------------------------------------------
## 2021-04-28   Yousuf Ali           Initial version
################################################################################
*/
.modal-body {
	background-color: rgb(255, 255, 255);
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.content {
	padding-left: 50px;
	padding-right: 50px;
}

/* select modal-content */
#nonclinicalModal > div > div > div {
	overflow-y: auto;
	height: 94vh;
}

body{
	background-color: #ecf0f5;
}


 /* .navbar-nav{
	background-color: #3c8dbc;
	

}
.navbar-header{
	background-color: #3c8dbc;

}

.navbar-default .navbar-nav>li>a {
    color: rgb(248, 248, 248);
}

.navbar-default .navbar-brand {
    color: #f8f5f5;
} */

#clin_page_application, #non_clin_page_application {
	/* font-size: medium; */
	font-weight: bold;
}
#renderFigure {
	padding-right: 50px;
}

.shiny-output-error-study_no_ts, .shiny-output-error-study_empty_pp {
	color: red;
}

#help_nonclinical, #help_nonclinical_02 {
    display: none;
}
#help_button_space{
    padding-bottom: 1px;
}


/* table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd { */
/*     background-color: red; */
/* } */

/* table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even { */
/*     background-color: green; */
/* } */


/* bottom left */

  /* #shiny-notification-panel {
	top: unset;
	bottom: 0t;
	left: 0;
	right: unset;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 450px;
  } */

  /* bottom right  */

  /* #shiny-notification-panel {
	top: unset;
	bottom: 0t;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 450px;
  } */
